h3{
    float:right;
    margin-top:-34px;
    position:relative;
    font-size:24px;
    }
h2{
    font-size:25px;
}
.card-header{
    margin-bottom:-20px:
}
.card-footer{
    background-color: #EBEBEB;
    border:1px solid #DFDFDF;
}